<div class="card shadow">
  <div class="card-header bg-primary text-white">
    <h1 class="h4">Todo List</h1>
  </div>
  <div class="card-body">
    <form [formGroup]="todoForm" (ngSubmit)="addTask()">
      <div class="input-group">
        <input
          type="text"
          formControlName="task"
          placeholder="Enter a task"
          class="form-control"
        />
        <button type="submit" class="btn btn-success">Add Task</button>
      </div>
      <div *ngIf="todoForm.get('task')?.invalid && todoForm.get('task')?.touched" class="text-danger mt-2">
        Task is required!
      </div>
    </form>

    <ul class="list-group mt-3">
      <li
        class="list-group-item d-flex justify-content-between align-items-center"
        *ngFor="let task of tasks; let i = index"
      >
      <span [ngClass]="{'text-decoration-line-through': task.completed}">
        {{ task.name }}
      </span>
        
        <div>
          <!-- button to toggle completion & deletion of tasks -->
          <button
            class="btn btn-sm btn-success me-2"
            (click)="taskCompletion(i)"
          >
            {{ task.completed ? 'Undo' : 'Complete' }}
          </button>
          <button class="btn btn-sm btn-danger" (click)="deleteTask(i)">
            Delete
          </button>
        </div>
      </li>
    </ul>
  </div>
</div>